/*--------------------------------------------------------------
## Basic Color
----------------------------------------------------------------*/
$white: #fff;
$black: #000;
$primary: #0b0a60;
$secondary: #78778f;
$ternary: #9998a8;
$border: #eeeeff;
$gray: #fdfbfb;
$light-gray: #fafafa;
